@font-face {
  font-family: 'dinreg';
  font-weight: 400;
  src: url('/src/fonts/dinreg/dinreg.eot?'); /* IE9 Compat Modes */
  src: local('dinreg'),
      url('/fonts/dinreg/dinreg.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/fonts/dinreg/dinreg.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/dinreg/dinreg.woff') format('woff'), /* Modern Browsers */
      url('/fonts/dinreg/dinreg.ttf') format('truetype'), /* Safari, Android, iOS */
      url('/fonts/dinreg.svg#dinreg') format('svg'); /* Legacy iOS */
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "dinreg", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: dinreg, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
