body {
    text-align: center;
    background-color: #c7bdbd;
    /* background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi5vqmZjqblAhXszIUKHXLlAeEQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.macleans.ca%2Fschools%2Fmcgill-university%2F&psig=AOvVaw1CGil6yVZyd8lCN-0HlZL1&ust=1571498483590467"); */
}

.login-form {
    margin-top: 100px;
    display: inline-block;
    width: 30%;
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

